@font-face {
    font-family: 'RobotoBold';
    src: url('roboto-bold.eot');
    src: url('roboto-bold.eot') format('embedded-opentype'),
         url('roboto-bold.woff2') format('woff2'),
         url('roboto-bold.woff') format('woff'),
         url('roboto-bold.ttf') format('truetype'),
         url('roboto-bold.svg#RobotoBold') format('svg');
}
